.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
