/* Все ссылки на странице при наведении мыши должны плавно становиться немного прозрачными, подберите opacity и transition на свой вкус*/
.link {
  opacity: 1;
}

.link:hover {
  opacity: .5;
  transition: 1s;
}
